.mainInputBox{
    padding: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainInputBox > h3 {
    color : #1A374D;

}

.FormInput > div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.FormInput > div>input {
    width: 200px;
    margin-left: 10px;
    outline: none;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 16px;
    border-radius: 5px;
    padding: 4px;
    color: #1A374D;
}

.FormInput > div  label {
    color:#1A374D;
}

.FormInput > div sup {
    color: red;
    font-weight: 600;
}


.FormInput > div:last-child > button {
    margin-left: auto;
    background-color: #1A374D;
    color : #B1D0E0;
    border-radius: 5px;
    padding: 3px 15px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;

}


.FormInput > div:last-child > button:focus {
    transform: scale(0.9);
    
}


.imp_linkbtn_box{
    background-color:#B1D0E0;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 5px;
    transition: all 0.1s ease;
}

.imp_linkbtn_box:hover {
    transform: scale(1.01);
}
.imp_link{
    font-size: 20px;
    color: #1A374D;
}

.imp_btns {
    display: flex;
    justify-content: space-between;
}

.imp_btns > button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #1A374D;
    color: #B1D0E0;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
}

.imp_btns > button:active {
    transform: scale(0.9);
}

