body{
  background-color: yellow;
}

.container {
  width: 30%;
  margin:auto;
  margin-top: 5%;
  border: 2px solid blue;
  height: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

input{
  border: 2px solid black;
  width: 70%;
  height: 35px;
  margin: 25px 0px 25px 50px;
  border-radius: 15px;
  
  
}
button{
  margin: 10px 0px 10px 140px;
  width: 30%;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  background-color: orange;
}
.fail{
  color: red;
  font-size: 20px;
  margin: 5px 0px 5px 80px;
  font-weight: bold;
}
.success{
  color: green;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0px 5px 80px;
}
.register{
  margin-left: 100px;
}
  