@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Neucha', cursive; */
    /* font-family: 'Roboto', sans-serif; */
}
body {
    background-color: #fff;
}